<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTs Store</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

    </style>
</head>

<body>
    <div id="wrap-content">

        <div id="header">
            <div class="logo">
                <a href="">
                    <img src="../img/logo.png" alt="" width="120" height="120">
                </a>
            </div>

            <div class="nav">
                <ul>
                    <li><a href="index.html">trang chủ</a></li>
                    <li><a href="product.html">sản phẩm</a></li>
                    <li><a href="check.html">kiểm tra đơn hàng</a></li>
                    <li><a href="blog.html">blogs</a></li>
                    <li><a href="contact.html">liên hệ</a></li>
                </ul>
            </div>

            <div class="account">
                <div class="boxAcc">
                    <div class="acc"><a href="login.html"><img src="../img/user-solid.svg" alt=""></a></div>
                    <div class="cart"><a href="cart.html"><img src="../img/cart-shopping-solid.svg" alt=""></a></div>
                    <!-- <span></span>
                    <span></span> -->
                </div>
            </div>

        </div>
        <div class="fbreak"></div>

        <div class="content">

            <!-- Slider -->
            <div class="slideshow">

                <div class="mySlides">
                    <img src="../img/slideshow_2.webp" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="../img/slideshow_3.webp" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="../img/slideshow_2.webp" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="../img/slideshow_3.webp" style="width:100%">
                </div>
            </div>
            <!-- End slider -->

            <div class="break"></div>

            <!-- Products -->
            <div class="main">

                <!-- sp hot -->
                <div class="cat">
                    <h2 class="cat-productName">Sản phẩm bán chạy</h2>

                    <div class="wrapProduct">

                        <div class="product">
                            <img src="../img/mau5.webp" alt="">
                            <div class="detail">
                                <p>Màu nước SAKURA KOI 30 màu ( dạng nén )</p>
                                <p>520,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>
                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but2.webp" alt="">
                            <div class="detail">
                                <p>Bút Chì Tombow Mono Phiên Bản Giới Hạn 2024 - Grayscale</p>
                                <p>85,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>
                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but6.webp" alt="">
                            <div class="detail">
                                <p>Bộ Bút Vẽ Kuretake Zig Inktober 4 Bút (IKTB-20/4V)</p>
                                <p>250,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>
                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but1.webp" alt="">
                            <div class="detail">
                                <p>Bộ Bút Sơn Acrylic Marker Giorgione G-AM-BS12</p>
                                <p>46,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- mini banner -->
                <div class="boxBanner">
                    <a href=""><img src="../img/miniBanner3.webp" alt=""></a>
                    <a href=""><img src="../img/miniBanner1.webp" alt=""></a>
                    <a href=""><img src="../img/miniBanner2.webp" alt=""></a>
                </div>

                <!-- sp1 -->
                <div class="cat">
                    <div class="navProduct">
                        <h2 class="cat-productName">Bút vẽ</h2>
                        <button><a href="#">Xem thêm</a></button>
                    </div>

                    <div class="wrapProduct">
                        <div class="product">
                            <img src="../img/but2.webp" alt="">
                            <div class="detail">
                                <p>Bút Chì Tombow Mono Phiên Bản Giới Hạn 2024 - Grayscale</p>
                                <p>85,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>

                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but1.webp" alt="">
                            <div class="detail">
                                <p>Bộ Bút Sơn Acrylic Marker Giorgione G-AM-BS12</p>
                                <p> 46,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but3.webp" alt="">
                            <div class="detail">
                                <p>Bộ Bút Sơn Acrylic Marker Giorgione G-AM-Y</p>
                                <p>68,000 đ <span>72,000 đ</span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but4.webp" alt="">
                            <div class="detail">
                                <p>Bộ Bút Sơn Acrylic Marker Giorgione 1.0mm G-MK1105</p>
                                <p>99,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>

                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>
                    </div>

                    <div class="wrapProduct">
                        <div class="product">
                            <img src="../img/but5.webp" alt="">
                            <div class="detail">
                                <p>Bộ 6 Cọ Giorgione Thân Gỗ Lông Trắng</p>
                                <p>69,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but6.webp" alt="">
                            <div class="detail">
                                <p>Bộ Bút Vẽ Kuretake Zig Inktober 4 Bút (IKTB-20/4V)</p>
                                <p>250,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but7.jpg" alt="">
                            <div class="detail">
                                <p>Cọ Tỉa Tròn Raphael 8504 | Raphaël Precision Round Watercolour Brushes Series 8504
                                </p>
                                <p>89,000 đ<span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/but8.jpg" alt="">
                            <div class="detail">
                                <p>Cọ Tròn Raphael 845 SoftAqua | Raphael 845 Softaqua Synthetic Brush - Round</p>
                                <p> 98,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- sp2 -->
                <div class="cat">
                    <div class="navProduct">
                        <h2 class="cat-productName">Giấy vẽ</h2>
                        <button><a href="#">Xem thêm</a></button>
                    </div>

                    <div class="wrapProduct">
                        <div class="product">
                            <img src="../img/giay1.webp" alt="">
                            <div class="detail">
                                <p>Sổ Và Giấy NaBii Art 300gsm</p>
                                <p> 30,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/giay2.webp" alt="">
                            <div class="detail">
                                <p>Giấy Happy Pittura 250gsm</p>
                                <p> 15,000 đ<span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/giay4.webp" alt="">
                            <div class="detail">
                                <p>Giấy Canson Dày 300gsm Cold Press Tệp 10 Tờ</p>
                                <p> 13,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/giay3.webp" alt="">
                            <div class="detail">
                                <p>Giấy Vẽ Màu Nước LEYTON 100% Cotton</p>
                                <p> 36,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>
                    </div>

                    <div class="wrapProduct">
                        <div class="product">
                            <img src="../img/giay5.webp" alt="">
                            <div class="detail">
                                <p>Sổ Giấy Kraft Mont Marte 115gsm 50 Tờ</p>
                                <p> 174,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/giay6.webp" alt="">
                            <div class="detail">
                                <p>Giấy Vẽ Màu Nước Vân Ngang 250gsm</p>
                                <p> 17,000 đ <span>30,000 đ</span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/giay7.webp" alt="">
                            <div class="detail">
                                <p>Sổ Vẽ Màu Nước CLAIREFONTAINE - Cold Pressed 100% Cotton</p>
                                <p> 599,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/giay8.webp" alt="">
                            <div class="detail">
                                <p>Sổ Vẽ Màu Nước Canson Montval A3 300gsm</p>
                                <p> 299,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- sp3 -->
                <div class="cat">
                    <div class="navProduct">
                        <h2 class="cat-productName">Màu vẽ</h2>
                        <button><a href="#">Xem thêm</a></button>
                    </div>

                    <div class="wrapProduct">
                        <div class="product">
                            <img src="../img/mau1.webp" alt="">
                            <div class="detail">
                                <p>Màu Nước White Nights Granulating (Tách Lớp) Set 3 Tuýp Midnight</p>
                                <p> 210,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/mau2.webp" alt="">
                            <div class="detail">
                                <p>Chì màu nước cao cấp SONNET</p>
                                <p> 70,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/mau3.webp" alt="">
                            <div class="detail">
                                <p>Màu Acrylic Sonet Bộ 8/12 Màu</p>
                                <p> 125,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/mau4.webp" alt="">
                            <div class="detail">
                                <p>Màu Nước Van Gogh Hộp Nhựa Cao Cấp</p>
                                <p> 490,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>
                    </div>

                    <div class="wrapProduct">
                        <div class="product">
                            <img src="../img/mau5.webp" alt="">
                            <div class="detail">
                                <p>Màu nước SAKURA KOI 30 màu ( dạng nén )</p>
                                <p> 520,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/mau6.webp" alt="">
                            <div class="detail">
                                <p>Màu Nước Neon Finetec Prenium | Bộ 6 Màu Hộp Sắt</p>
                                <p> 399,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/mau7.webp" alt="">
                            <div class="detail">
                                <p>[DA ĐEN] Daniel Smith - Set 12 Màu Nước Nén tặng kèm 12 half pans</p>
                                <p> 1,522,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>

                        <div class="product">
                            <img src="../img/mau8.png" alt="">
                            <div class="detail">
                                <p>P2-Màu Acrylic Hủ 100ml Maries</p>
                                <p> 23,000 đ <span></span></p>
                                <p>Tình trạng: <span class="statusProduct">Còn hàng</span></p>
                                <a href="productDetail.html"><button>Mua ngay</button></a>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End products -->

            <button id="backToTopBtn" title="Quay lại đầu trang"><img src="../img/arrow-up-solid.svg" alt=""></button>


        </div>

        <div class="footer">
            <div class="wrap">
                <div class="col-info">
                    <h3>Về chúng tôi</h3>
                    <p>ARTs Store là website chuyên cung cấp các loại họa cụ chất lượng. Chúng tôi luôn cố gắng để biến
                        giấc mơ bạn thành hiện thực. </p>
                </div>
                <div class="col-info">
                    <h3>Sản phẩm</h3>
                    <ul>
                        <li><a href="">Bút vẽ</a></li>
                        <li><a href="">Màu</a></li>
                        <li><a href="">Giấy vẽ</a></li>
                    </ul>
                </div>
                <div class="col-info">
                    <h3>Tài khoản</h3>
                    <ul>
                        <li><a href="">Thông tin tài khoản</a></li>
                        <li><a href="">Giỏ hàng</a></li>
                        <li><a href="">Kiểm tra đơn hàng</a></li>
                        <li><a href="">Chính sách đổi trả</a></li>
                    </ul>
                </div>
                <div class="col-info">
                    <h3>Liên hệ</h3>
                    <p>Email: ARTsStore@gmail.com</p>
                    <p>Số điện thoại: 0797373365</p>
                </div>
                <p class="copyright">ARTs - All Rights Reserved 2024</p>
            </div>


        </div>



    </div>

    <!-- scipt slider -->
    <script>
        let slideIndex = 0;
        showSlides();
        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 10000); // Change image every 2 seconds
        }


        // roll

        window.onscroll = function () { stickyHeader() };

        function stickyHeader() {
            var header = document.getElementById(".header");
            var sticky = header.offsetTop;

            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        // back to top

        // Khi người dùng cuộn xuống 20px từ đầu tài liệu, hiển thị nút
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            var backToTopBtn = document.getElementById("backToTopBtn");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTopBtn.style.display = "block";
            } else {
                backToTopBtn.style.display = "none";
            }
        }

        // Khi người dùng nhấp vào nút, cuộn lên đầu tài liệu
        document.getElementById("backToTopBtn").onclick = function () {
            topFunction();
        };

        function topFunction() {
            document.body.scrollTop = 0; // Cho Safari
            document.documentElement.scrollTop = 0; // Cho Chrome, Firefox, IE và Opera
        }
    </script>
</body>


</html>