<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css">
    <title>ARTs Store</title>
    <style>
        .productDetail {
            margin-top: 110px;
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0"
        nonce="ZRpDTYx8"></script>

    <div class="wrap-content">

        <div id="header">
            <div class="logo">
                <a href="">
                    <img src="../img/logo.png" alt="" width="120" height="120">
                </a>
            </div>

            <div class="nav">
                <ul>
                    <li><a href="index.html">trang chủ</a></li>
                    <li><a href="product.html">sản phẩm</a></li>
                    <li><a href="check.html">kiểm tra đơn hàng</a></li>
                    <li><a href="blog.html">blogs</a></li>
                    <li><a href="contact.html">liên hệ</a></li>
                </ul>
            </div>

            <div class="account">
                <div class="boxAcc">
                    <div class="acc"><a href="login.html"><img src="../img/user-solid.svg" alt=""></a></div>
                    <div class="cart"><a href="cart.html"><img src="../img/cart-shopping-solid.svg" alt=""></a></div>
                    <!-- <span></span>
                    <span></span> -->
                </div>
            </div>

        </div>

        <div class="break"></div>

        <div class="content">


            <!-- Detail product -->

            <div class="productDetail">
                <div class="images">
                    <div class="top">
                        <img src="../img/mau5.webp" alt="">
                    </div>
                    <div class="bottom">
                        <div><a href=""><img class="miniimgaes" src="../img/mau5.webp" alt=""></a></div>
                        <div><a href=""><img class="miniimgaes" src="../img/mau5.webp" alt=""></a></div>
                        <div><a href=""><img class="miniimgaes" src="../img/mau5.webp" alt=""></a></div>
                        <div><a href=""><img class="miniimgaes" src="../img/mau5.webp" alt=""></a></div>
                    </div>
                </div>
                <div class="box-info">
                    <div class="info">
                        <div class="productDetail-name">Màu nước SAKURA KOI 30 màu ( dạng nén )</div>
                        <div class="productDetail-brand">Trạng thái: <span>Còn hàng</span> | Brand:<span> đang cập
                                nhật</span></div>
                        <div class="productDetail-price">520,000 đ <span></span></div>
                        <div class="count">
                            <label for="">Số lượng: </label>

                            <button><img src="../img/plus-solid.svg" alt=""></button>
                            <input type="text" value="1">
                            <button><img src="../img/minus-solid.svg" alt=""></button>

                        </div>
                        <input class="buy" type="submit" value="Mua ngay">
                        <input class="addToCart" type="submit" value="Thêm vào giỏ hàng">
                    </div>
                    <div class="infomation">
                        <h3>Đặc điểm:</h3>
                        <ul>
                            <li>Bay pha màu Mont Marte có nhiều kiểu dáng được thiết kế linh hoạt, thông minh.</li>
                            <li>Bay thường được sử dụng kết hợp với màu acrylic và sơn dầu để tạo các hiệu ứng đấp nổi
                                Impasto, hoặc làm mịn phẳng màu trên bề mặt canvas.</li>
                            <li>Và được sử dụng nhiều nhất khi cần pha trộn các chất liệu màu như poster, gouache,
                                acrylic, sơn dầu, … ngoài ra còn tán mịn được màu sáp dầu để đắp vẽ tranh.</li>
                            <li>Nhiều người còn sáng tạo hơn khi dùng bay trong việc trang trí bánh kem, quảng cảo mỹ
                                phẩm, …</li>
                            <li>Với nhiều công dụng tuyệt vời như vậy, thì bay pha màu là một dụng cụ quan trọng không
                                thể thiếu trong công việc sáng tạo, nghệ thuật.</li>

                        </ul>
                    </div>
                </div>


            </div>

            <!-- End detail product -->

            <!-- <div class="comment"></div> -->

        </div>

        <div class="footer">
            <div class="wrap">
                <div class="col-info">
                    <h3>Về chúng tôi</h3>
                    <p>ARTs Store là website chuyên cung cấp các loại họa cụ chất lượng. Chúng tôi luôn cố gắng để biến
                        giấc mơ bạn thành hiện thực. </p>
                </div>
                <div class="col-info">
                    <h3>Sản phẩm</h3>
                    <ul>
                        <li><a href="">Bút vẽ</a></li>
                        <li><a href="">Màu</a></li>
                        <li><a href="">Giấy vẽ</a></li>
                    </ul>
                </div>
                <div class="col-info">
                    <h3>Tài khoản</h3>
                    <ul>
                        <li><a href="">Thông tin tài khoản</a></li>
                        <li><a href="">Giỏ hàng</a></li>
                        <li><a href="">Kiểm tra đơn hàng</a></li>
                        <li><a href="">Chính sách đổi trả</a></li>
                    </ul>
                </div>
                <div class="col-info">
                    <h3>Liên hệ</h3>
                    <p>Email: ARTsStore@gmail.com</p>
                    <p>Số điện thoại: 0797373365</p>
                </div>
                <p class="copyright">ARTs - All Rights Reserved 2024</p>
            </div>


        </div>

    </div>
    <script>
        // roll

        window.onscroll = function () { stickyHeader() };

        function stickyHeader() {
            var header = document.getElementById(".header");
            var sticky = header.offsetTop;

            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        // back to top

        // Khi người dùng cuộn xuống 20px từ đầu tài liệu, hiển thị nút
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            var backToTopBtn = document.getElementById("backToTopBtn");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTopBtn.style.display = "block";
            } else {
                backToTopBtn.style.display = "none";
            }
        }

        // Khi người dùng nhấp vào nút, cuộn lên đầu tài liệu
        document.getElementById("backToTopBtn").onclick = function () {
            topFunction();
        };

        function topFunction() {
            document.body.scrollTop = 0; // Cho Safari
            document.documentElement.scrollTop = 0; // Cho Chrome, Firefox, IE và Opera
        }
    </script>
</body>

</html>